<div id="shop-header-wrapper">
  <header class="shop-banner prf_cover">
    <!-- Insert [if user has no cover]-->
    <img src="http://i.imgur.com/5jSh4fI.jpg" style="height: 250px">
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <%= link_to "Edit Cover", edit_user_registration_path, class: "btn btn-custom prf_cvr_edt" %>
      <% end %>
    <% end %>
  </header>
</div>

<br>

<div class="row">
  <div class="col-md-9">

    <header class="profile header-navigation">
      <span data-picture="img">
        <%= image_tag @user.avatar.url, class: "avatar user-avatar" %>
      </span>
      <span class="title"><%= @user.username %></span>
    </header>

    <div class="breakline_under"></div>


  </div>
  <div class="col-md-3">

    <div id="sidebar">

      <div id="widget-user-profile" class="widget">
        <ul class="list-info truncate-vals">
          <li class="user-details">
            <div class="member-info">
              <span class="title">About me</span>
              <div class="member-description">
                <% if @user.slogan.present? %>
                  <%= @user.slogan %>
                <% else %>
                  <% if current_user == @user %>
                    Please fill out your Information.
                  <% else %>
                    <%= @user.username %> has not yet given us any information.
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>

          <li class="follow block-hover list-info-table">
            <table>
              <tbody><tr>
                <td>
                  <a href="#">
                    <strong class="num-followers">549,20$</strong>
                    <br>
                    receiving
                  </a>
                </td>
                <td><a href="#">
                  <strong>259,53$</strong>
                  <br>
                  giving
                </a>
                </td>
              </tr>
              </tbody></table>
          </li>

          <li>
            <dl class="list-icons">
              <dt><i class="glyphicon glyphicon-map-marker"></i> Location</dt>
              <dd>
                <% if @user.city.present? %>
                  <%= @user.city %>
                <% else %>
                  <% if current_user == @user %>
                    <%= link_to 'Add a location...', edit_user_registration_path %>
                  <% else %>
                    Narnia
                  <% end %>
                <% end %>
              </dd>
            </dl>
          </li>

          <li>
            <dl class="list-icons">
              <dt><i class="fa fa-desktop"></i> Website</dt>
              <dd><a href="#" target="_blank">gitcare.com</a></dd>
            </dl>
          </li>

          <% if @user.has_social_links? %>
            <li class="social-links block-hover list-info-table n2">
              <table>
                <tbody>
                <tr>
                  <% if @user.authorizations.where(:provider => 'Twitter').present? %>
                    <td>
                      <!-- Problem -->
                      <% @user.authorizations.where(provider: 'Twitter').each do |tauth| %>
                        <%= link_to tauth.link, :target => '_blank' do %>
                          <i class="fa fa-twitter"></i>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>

                  <% if @user.authorizations.where(:provider => 'Facebook').present? %>
                    <td>
                      <% @user.authorizations.where(provider: 'Facebook').each do |tauth| %>
                        <%= link_to tauth.link, :target => '_blank' do %>
                          <i class="fa fa-facebook"></i>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
                </tbody>
              </table>
            </li>
          <% end %>

        </ul>

      </div>

    </div>

  </div>
</div>