<!--<div class="card_border">-->
  <!--<div class="top_bg">-->
    <!--<h1 class="text-center"><span data-bind="text: (Name() ? Name() : UserName())"></span></h1>-->
    <!--<h2 class="text-center"  data-bind="visible: JobTitle()"><span data-bind="text: JobTitle"></span></h2>-->
  <!--</div>-->
  <!--<%= image_tag @user.avatar.url, class: "img-circle img_float" %>-->
  <!--<div class="bottom_bg">-->

    <!--<div class="pull-left">-->
      <!--<div class="user_name"><%= @user.username %></div>-->
      <!--<div class="user_social">-->
      <!--<%= link_to '#', class: "user_profile_social" do %>-->
        <!--<i class="fa fa-facebook"></i>-->
      <!--<% end %>-->
      <!--<%= link_to '#', class: "user_profile_social" do %>-->
        <!--<i class="fa fa-twitter"></i>-->
      <!--<% end %>-->
      <!--<%= link_to '#', class: "user_profile_social" do %>-->
        <!--<i class="fa fa-github"></i>-->
      <!--<% end %>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="pull-right">-->
      <!--<div class="user_recieving">52,03$</div>-->
    <!--</div>-->

    <!--<div class="clearfix"></div>-->

  <!--</div>-->
<!--</div>-->




<div id="body-wrapper">

  <div class="profile_dash">
    <div class="me" style="background: url(<%= @user.avatar.url(:profile) %>) center">
      <%#= image_tag @user.avatar.url %>
    </div>
    <div class="info">
      <p class="center">
        International Baccalaureate candidate, web designer and developer, student of the multiverse. I'm a starter and I'm going to change the world.
      </p>
    </div>
  </div>

</div>
