<div id="shop-header-wrapper">
  <header class="shop-banner prf_cover">
    <%= image_tag @user.cover.url(:profile), :height => 250 %>
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <% unless @user.cover.present? %>
          <%= link_to "Edit Cover", edit_user_registration_path, class: "btn btn-custom prf_cvr_edt" %>
        <% end %>
      <% end %>
    <% end %>
  </header>
</div>

<br>

<div class="row">
  <div class="col-md-9">

    <header class="profile header-navigation">
      <span data-picture="img">
        <%= image_tag @user.avatar.url, class: "avatar user-avatar" %>
      </span>
      <span class="title"><%= @user.username %></span>

      <% if @user.patron_modus? %>
        <div class="prf_ptrn_mds pull-right">
          <span>Is here as a Patron</span>
        </div>
      <% else %>
        <% if user_signed_in? %>
          <ul class="tags blue pull-right" style="list-style: none">
            <li><a href="#" data-toggle="modal" data-target="#testing"> <i class="fa fa-heart"></i> Support <span>160</span></a></li>
          </ul>
        <% else %>
          <ul class="tags blue pull-right" style="list-style: none">
            <li><a href="#"> <i class="fa fa-heart"></i> Support <span>160</span></a></li>
          </ul>
        <% end %>
      <% end %>

    </header>

    <div class="breakline_under"></div>

    <% if @user.gcv.present? %>
      <%= @user.gcv %>
    <% else %>
      <% if @user == current_user %>
        <%= link_to 'Add your Gitcare Curriculum Vitae', edit_user_registration_path %>
      <% end %>
    <% end %>

  </div>

  <div class="col-md-3">

    <div id="sidebar">

      <% if @user.patron_modus? %>
        <%= render 'users/patron' %>
      <% else %>
        <%= render 'users/normal' %>
      <% end %>

    </div>

  </div>
</div>


<!-- Location Modal -->
<div class="modal fade" id="AddLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
    <div class="modal-content">
      <div class="modal-header profile_modal">
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
        <h4 class="modal-title" id="myModalLabel">Add your Location</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control", :placeholder => 'e.g. New York' %>
          </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Update", class: "btn btn-custom" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- Website Modal -->
<div class="modal fade" id="AddWebsite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
      <div class="modal-content">
        <div class="modal-header profile_modal">
          <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
          <h4 class="modal-title" id="myModalLabel">Add your Website</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :website %>
            <%= f.text_field :website, class: "form-control", :placeholder => 'http://yoursite.com' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: "btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- About me Modal -->
<div class="modal fade" id="AddSlogan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
      <div class="modal-content">
        <div class="modal-header profile_modal">
          <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
          <h4 class="modal-title" id="myModalLabel">About me</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :slogan %>
            <%= f.text_area :slogan, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: "btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Company Modal -->
<div class="modal fade" id="AddCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
      <div class="modal-content">
        <div class="modal-header profile_modal">
          <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
          <h4 class="modal-title" id="myModalLabel">Add your Company</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :company %>
            <%= f.text_field :company, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: "btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- Donation Modal -->
<div class="modal fade" id="DonationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header profile_modal">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Support <%= @user.username %></h4>
      </div>
      <div class="modal-body">
        <% if current_user != @user %>
          <div class="col-md-6">
            <h3>donate to <%= @user.username %></h3>
            <%= form_for @user.outgoing_donations.new, url: give_donation_path(recipient_id: @user.id), html: {remote: true, role: 'form'} do |f| %>
              <div class="form-group">
                <%= f.number_field :ammount, class: 'form-control', min: 0 %>
              </div>
              <div class="form-group">
                <%= f.select :donation_type, @donation_types, class: 'form-control', min: 0 %>
              </div>
              <%= f.submit 'Donate', class: 'btn btn-custom' %>
            <% end %>
            <div class="notices"></div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Donation Modal -->
<div class="modal fade" id="SignInToSupport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header profile_modal">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign in to Support <%= @user.username %></h4>
      </div>
      <div class="modal-body">
        Whats up
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="testing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for @user.outgoing_donations.new, url: give_donation_path(recipient_id: @user.id), html: {remote: true, role: 'form'} do |f| %>
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Donate to <%= @user.username %></h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <%= f.number_field :ammount, class: 'form-control', min: 0 %>
          </div>
          <div class="form-group">
            <%= f.select :donation_type, @donation_types, class: 'form-control', min: 0 %>
          </div>


      </div>
      <div class="modal-footer">
        <%= f.submit 'Donate', class: 'btn btn-custom' %>
      </div>
    </div>
  </div>
  <% end %>
</div>



