<div id="shop-header-wrapper">
  <header class="shop-banner prf_cover">
    <%= image_tag @user.cover.url(:profile), :height => 250 %>
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <% unless @user.cover.present? %>
          <%= link_to "Edit Cover", edit_user_registration_path, class: "btn btn-custom prf_cvr_edt" %>
        <% end %>
      <% end %>
    <% end %>
  </header>
</div>

<br>

<div class="row">
  <div class="col-md-9">

    <header class="profile header-navigation">
      <span data-picture="img">
        <%= image_tag @user.avatar.url, class: "avatar user-avatar" %>
      </span>
      <span class="title"><%= @user.username %></span>

      <%= link_to '#', class: "btn btn-custom pull-right" do %>
        <i class="fa fa-heart"></i> Support
      <% end %>

    </header>

    <div class="breakline_under"></div>

    <% if @user.gcv.present? %>
      <%= @user.gcv %>
    <% else %>
      <% if @user == current_user %>
        <%= link_to 'Add your Gitcare Curriculum Vitae', edit_user_registration_path %>
      <% end %>
    <% end %>


  </div>

  <div class="col-md-3">

    <div id="sidebar">

      <div id="widget-user-profile" class="widget">
        <ul class="list-info truncate-vals">
          <li class="user-details">
            <div class="member-info">
              <span class="title">About me</span>
              <div class="member-description">
                <% if @user.slogan.present? %>
                  <%= @user.slogan %>
                <% else %>
                  <% if current_user == @user %>
                    Hey <%= @user.first_name %>, <br>
                    completed profiles get more credibility
                    and have a higher chance of getting funded.  <br>
                    <a href="" data-toggle="modal" data-target="#AddSlogan">Insert Inspiring text here... </a>
                  <% else %>
                    <%= @user.username.capitalize! %> has not yet completed his Profile.
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>

          <li class="follow block-hover list-info-table">
            <table>
              <tbody><tr>
                <td>
                  <a href="#">
                    <strong class="rec">00, 00 $</strong>
                    <br>
                    receiving
                  </a>
                </td>
                <td><a href="#">
                  <strong class="giv">00, 00 $</strong>
                  <br>
                  giving
                </a>
                </td>
              </tr>
              </tbody></table>
          </li>

          <% if @user.city.present? %>
            <li>
              <dl class="list-icons">
                <dt><i class="glyphicon glyphicon-map-marker"></i> Location</dt>
                <dd>
                  <%= @user.city %>
                </dd>
              </dl>
            </li>
          <% else %>
            <% if @user == current_user %>
              <li>
                <dl class="list-icons">
                  <dt><i class="glyphicon glyphicon-map-marker"></i> Location</dt>
                  <dd>
                    <a href="" data-toggle="modal" data-target="#AddLocation">Add Location...</a>
                  </dd>
                </dl>
              </li>
            <% end %>
          <% end %>



          <% if @user.website.present? %>
            <li>
              <dl class="list-icons">
                <dt><i class="fa fa-desktop"></i> Website</dt>
                <dd>
                  <%= link_to @user.website, @user.website, :target => '_blank' %>
                </dd>
              </dl>
            </li>
          <% else %>
            <% if @user == current_user %>
              <li>
                <dl class="list-icons">
                  <dt><i class="fa fa-desktop"></i> Website</dt>
                  <dd>
                    <a href="" data-toggle="modal" data-target="#AddWebsite">Add Website...</a>
                  </dd>
                </dl>
              </li>
            <% end %>
          <% end %>

          <% if @user.has_social_links? %>
            <li class="social-links block-hover list-info-table n2">
              <table>
                <tbody>
                <tr>
                  <% if @user.authorizations.where(:provider => 'Twitter').present? %>
                    <td>
                      <!-- Problem -->
                      <% @user.authorizations.where(provider: 'Twitter').each do |tauth| %>
                        <%= link_to tauth.link, :target => '_blank' do %>
                          <i class="fa fa-twitter"></i>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>

                  <% if @user.authorizations.where(:provider => 'Facebook').present? %>
                    <td>
                      <% @user.authorizations.where(provider: 'Facebook').each do |tauth| %>
                        <%= link_to tauth.link, :target => '_blank' do %>
                          <i class="fa fa-facebook"></i>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
                </tbody>
              </table>
            </li>
          <% end %>

        </ul>

      </div>

    </div>

  </div>
</div>


<!-- Location Modal -->
<div class="modal fade" id="AddLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
    <div class="modal-content">
      <div class="modal-header profile_modal">
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
        <h4 class="modal-title" id="myModalLabel">Add your Location</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control", :placeholder => 'e.g. New York' %>
          </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Update", class: "btn btn-custom" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- Website Modal -->
<div class="modal fade" id="AddWebsite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
      <div class="modal-content">
        <div class="modal-header profile_modal">
          <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
          <h4 class="modal-title" id="myModalLabel">Add your Website</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :website %>
            <%= f.text_field :website, class: "form-control", :placeholder => 'http://yoursite.com' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: "btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- About me Modal -->
<div class="modal fade" id="AddSlogan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
      <div class="modal-content">
        <div class="modal-header profile_modal">
          <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
          <h4 class="modal-title" id="myModalLabel">About me</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :slogan %>
            <%= f.text_area :slogan, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: "btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
</div>