<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "sign-up" }) do |f| %>
  <h1 class="sign-up-title">Forgot your Password?</h1>
  <%= devise_error_messages! %>
  <%= f.email_field :email, class: "sign-up-input", :placeholder => 'Email address', :autofocus => true %>
  <%= f.submit "Next", class: "sign-up-button" %>
<% end %>

<div class="shred_lnk">
  <%= link_to "Didn't receive Email Confirmation?", new_user_confirmation_path %>
</div>
