<div class="row">

  <div class="col-md-9">

    <div class="center">
      <h3>Outgoing Donations</h3>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Recipient</th>
        <th>Ammount</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <% current_user.outgoing_donations.each do |donation| %>
        <tr>
          <td><%= donation.recipient_id %></td>
          <td><%= humanized_money_with_symbol donation.ammount / 100.00 %></td>
          <td><%= Donation::TYPE[donation.donation_type] %></td>
        </tr>
      <% end %>
      </tbody>
     </table>








  </div>

  <div class="col-md-3">

    <!-- User Info Overview -->
    <div class="prf_db_ov">
      <%= image_tag current_user.avatar.url(:profile), class: "prf_img" %>
      <div class="db_ov_layer center">
        <h1 class="profile-name"><%= current_user.first_name %> <%= current_user.last_name %></h1>
        <span class="prf_ttl">Profile Complete</span>
      </div>
    </div>


    <!-- Dashboard Wallet Module -->
    <div class="gtcr_wllt_mod">
      <header class="wllt_header">
        <span><b><i class="fa fa-dollar"></i></b> Total Wallet Ammount</span>
      </header>
      <div class="wllt_numbers center">
      <span>
        <%= humanized_money_with_symbol current_user.total_convert %>
      </span>
      </div>
    </div>

    <ul class="gtcr_mod" id="dsbrd_mod_b">
      <% current_user.outgoing_donations.last(5).each do |donation| %>
        <li class="icon_dtls">
          <dl class="mod_icon">
            <dt><i class="fa fa-arrow-right"></i> Outgoing</dt>
            <dd><%= humanized_money_with_symbol donation.ammount / 100.00 %></dd>
          </dl>
        </li>
      <% end %>
    </ul>

    <ul class="gtcr_mod" id="dsbrd_mod_b">
      <% current_user.incoming_donations.last(5).each do |donation| %>
        <li class="icon_dtls">
          <dl class="mod_icon">
            <dt><i class="fa fa-arrow-left"></i> Incoming</dt>
            <dd><%= humanized_money_with_symbol donation.ammount / 100.00 %></dd>
          </dl>
        </li>
      <% end %>
    </ul>


    <!-- Dashboard Revenue Module -->
    <div class="gtcr_rvn_mod">
      <header class="rvn_header">
        <span><b><i class="fa fa-dollar"></i></b> Total revenue Income</span>
      </header>
      <div class="rvn_numbers center">
      <span>
        <%= humanized_money_with_symbol current_user.incoming_convert %>
      </span>
      </div>
    </div>

    <!-- Dashboard Patron Module -->
    <div class="gtcr_ptrn_mod">
      <header class="ptrn_header">
        <span><b><i class="fa fa-dollar"></i></b> Total spendings Outcome</span>
      </header>
      <div class="ptrn_numbers center">
      <span>
        <%= humanized_money_with_symbol current_user.outgoing_convert %>
      </span>
      </div>
    </div>



    <div class="verify_account">
      <h2>Verify your Account</h2>
      <hr class="verify_hr">

      <%= check_connection('Twitter')%>
      <%= check_connection('Facebook')%>

    </div>



  </div>

</div>
