<div class="row">

  <div class="col-md-9">

    <div class="center">
      <h3>Outgoing Donations</h3>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Recipient</th>
        <th>Ammount</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <% current_user.outgoing_donations.each do |donation| %>
        <tr>
          <td><%= donation.recipient_id %></td>
          <td><%= humanized_money_with_symbol donation.ammount / 100.00 %></td>
          <td><%= Donation::TYPE[donation.donation_type] %></td>
        </tr>
      <% end %>
      </tbody>
     </table>



    <div class="ic_motion wt_ic19">
      <span class="cloud">&nbsp;</span>
      <span class="hail">&nbsp;</span>
      <span class="hail">&nbsp;</span>
      <span class="hail">&nbsp;</span>
      <span class="hail">&nbsp;</span>
      <span class="hail">&nbsp;</span>
    </div>





  </div>



  <div class="col-md-3">

    <!-- User Info Overview -->
    <div class="prf_db_ov">
      <%= image_tag current_user.avatar.url(:profile), class: "prf_img" %>
      <div class="db_ov_layer center">
        <h1 class="profile-name"><%= current_user.first_name %> <%= current_user.last_name %></h1>
        <span class="prf_ttl">Profile Complete</span>
      </div>
    </div>

    <div class="gtcr_ttl_wllt_dash">
      <%= link_to '#', 'data-toggle' => 'modal', 'data-target' => '#TotalWallet' do %>
        <i class="fa fa-question"></i>
      <% end %>
      <div class="db_ov_layer center">
        <h1 class="ttl_ammnt">Total Wallet Ammount</h1>
        <span class="prf_ttl"><%= humanized_money_with_symbol current_user.total_convert %></span>
      </div>
    </div>

    <div class="gtcr_incoming_dash">
      <%= link_to '#', 'data-toggle' => 'modal', 'data-target' => '#TotalIncome' do %>
        <i class="fa fa-question"></i>
      <% end %>
      <div class="db_ov_layer center">
        <h1 class="ttl_ammnt">Your Income</h1>
        <span class="prf_ttl"><%= humanized_money_with_symbol current_user.incoming_convert %> <small>/week</small></span>
      </div>
    </div>

    <div class="gtcr_outgoing_dash">
      <%= link_to '#', 'data-toggle' => 'modal', 'data-target' => '#TotalSpendings' do %>
        <i class="fa fa-question"></i>
      <% end %>
      <div class="db_ov_layer center">
        <h1 class="ttl_ammnt">Your Support</h1>
        <span class="prf_ttl"><%= humanized_money_with_symbol current_user.outgoing_convert %> <small>/week</small></span>
      </div>
    </div>



    <ul class="gtcr_mod" id="dsbrd_mod_b">
      <% current_user.outgoing_donations.last(5).each do |donation| %>
        <li class="icon_dtls">
          <dl class="mod_icon">
            <dt><i class="fa fa-arrow-right"></i> Outgoing</dt>
            <dd><%= humanized_money_with_symbol donation.ammount / 100.00 %></dd>
          </dl>
        </li>
      <% end %>
    </ul>

    <ul class="gtcr_mod" id="dsbrd_mod_b">
      <% current_user.incoming_donations.last(5).each do |donation| %>
        <li class="icon_dtls">
          <dl class="mod_icon">
            <dt><i class="fa fa-arrow-left"></i> Incoming</dt>
            <dd><%= humanized_money_with_symbol donation.ammount / 100.00 %></dd>
          </dl>
        </li>
      <% end %>
    </ul>

    <div class="verify_account">
      <h2>Verify your Account</h2>
      <hr class="verify_hr">

      <%= check_connection('Twitter')%>
      <%= check_connection('Facebook')%>

    </div>



  </div>

</div>


<!-- Wallet Modal -->
<div class="modal fade" id="TotalWallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title center" id="myModalLabel">Your Wallet Ammount</h4>
      </div>
      <div class="modal-body">
        Gitcare Wallet = The $ a user has either from donations or transferred
        from his Credit Card. <br>
        <br>
        This Ammoun grows with the donations hes getting / week and manual transactions
        from the users credit card.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Income Modal -->
<div class="modal fade" id="TotalIncome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title center" id="myModalLabel">Your Income</h4>
      </div>
      <div class="modal-body">
        This Displays the total ammount a user get's per Week (/week) and nothing else.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Spendings Modal -->
<div class="modal fade" id="TotalSpendings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title center" id="myModalLabel">Your Support</h4>
      </div>
      <div class="modal-body">
        This Displays the total ammount a user is spending to other users per week.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom">Save changes</button>
      </div>
    </div>
  </div>
</div>

